.form-group p{display: inline-block;}

.btnImage{
	width: 15%;
	height: 40px;
	background-color: #7fbb00;
	border: 1px solid #7fbb00;
	color: #fff;
	margin-top: 2%;
}
.file{
	height: 30px;
	margin-bottom: 0;
}
.uploaded-images{
	padding: 2% 10%;
    text-align: center;
    width: 70%;
}
.uploaded-images #error_div{
	color: #ff0000;
}
.uploaded-images #success_div img{
	margin: .1%;
}
#loader{
	font-size: 1.2em;
	color: #ff0000;
	
}
.help-block{
	display: block;
	color: #ff0000;
}